.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  object-fit: scale-down;
  width: 100px;
  height: 100px;
}

nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}

.header nav ul li a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
}

.header nav ul li {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 0.6rem;
  border-radius: 1.5rem;
  transition: 0.7s;
}

.header nav ul li:hover {
  background: #fff647;
}

.header nav ul li i {
  color: #0d00ff;
}

a {
  font-size: 1.1rem;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.righ-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.righ-header > a {
  border-radius: 1.5rem;
  padding: 0.5rem;
  transition: 0.7s;
}

.righ-header i {
  color: #0d00ff;
}

.righ-header > a:hover {
  background: #fff647;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-right: 2rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background: #1774ee;
  transition: 0.7s;
}

.login-btn:hover {
  background: #fff647;
}

.login-btn i {
  color: white;
}

.login-btn:hover i {
  color: #0d00ff;
}

.login-btn a {
  color: white;
}

.login-btn:hover a {
  color: black;
}
